# Environnement virtuel
venv/
env/
ENV/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Cache pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# Fichier de configuration sensible
.env

# Fichiers de présentation
/Docs/
/Bin/
/notebooks/

# Dossier de données générées
/data/

# Fichiers temporaires et logs
*.log
*.tmp
logs/
/.vscode/
*.swp
*~
# Mac / système
.DS_Store
Thumbs.db

# Mypy, isort, etc.
.mypy_cache/
.pyre/