# Environnement virtuel
venv/
env/
ENV/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichier de configuration sensible
.env

# Fichiers de présentation
/Docs/

# Fichiers temporaires
*.log
*.tmp
.vscode/

# Fichiers de logs
*.log
logs/

# Jupyter Notebook
.ipynb_checkpoints